<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<meta name="author" content="Ana Izabel Jacobsen">		

<title>Repository Status</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/narrow-jumbotron.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<script>
    $(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});

</script>
</head>
<body>
 <div class="container">
    <div class="jumbotron" id="teste" style="background: white;">
      <img src="img/icon.png">
      <h1 class="display-3">MundiPagg</h1>
      <p class="lead">GitHub MundiPagg </p>
      <hr>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Repositorio </button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Master</a></li>
        <li><a href="#">Beta</a></li>
      </ul>
    </div>
    <!-- Grafico -->
    <div id="container" style="width:100%; height:400px;"></div>
    <!-- Fim do grafico -->
    <div class="row">
        <div class="col-lg-12">
          <h2>Stars</h2>
          <div id="starts">
              <h1 class="text"> 193 </h1>          
          </div>          
        </div>
        <div class="col-lg-12">
          <h2>Forks</h2>
          <div id="forks">
              <h1 class="text"> 14 </h1>          
          </div>              
       </div>
        <div class="col-lg-12">
          <h2>Contributors</h2>
          <div id="contributors">
              <h1 class="text"> 98 </h1>          
          </div>     
        </div>
  </div>
 <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
<footer class="footer">
    <p>Feito com ❤  por Ana Izabel Jacobsen </p>
</footer>
</html>
