<div class="container">
    <div class="jumbotron"  style="background: white;">
      <!--<img src="../../img/icon.png">-->
      <h1 class="display-3">MundiPagg</h1>
      <p class="lead">GitHub MundiPagg </p>
      <hr>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Repositorio </button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Master</a></li>
        <li><a href="#">Beta</a></li>
      </ul>
    </div>
    <!-- Grafico -->
      <div style="margin-top: 20px;">
        <div zingchart id="chart-1" zc-json="myJson" zc-width="100%"  zc-width=600></div>
      </div>
    <!-- Fim do grafico -->
    <div class="row">
        <div class="col-lg-12">
          <h2>Stars</h2>
          <div id="starts">
              <h1 class="text"> 193 </h1>          
          </div>          
        </div>
        <div class="col-lg-12">
          <h2>Forks</h2>
          <div id="forks">
              <h1 class="text"> 14 </h1>          
          </div>              
       </div>
        <div class="col-lg-12">
          <h2>Contributors</h2>
          <div id="contributors">
              <h1 class="text"> 98 </h1>          
          </div>     
        </div>
  </div>
