#starts{

    background-image: url('../img/star.png');
    background-repeat: no-repeat;    
    float: left;
    opacity: 0.6;
    background-position: 93% 0;    
    width: 100%;
    height: 137px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
#starts:hover{
    opacity: 1;
}

#forks{
    background-image: url('../img/github.png');
    background-repeat: no-repeat;    
    float: left;
    opacity: 0.6;
    background-position: 93% 0;    
    width: 100%;
    height: 137px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#forks:hover{
    opacity: 1;
}

#contributors{
    background-image: url('../img/contribution.png');
    background-repeat: no-repeat;    
    float: left;
    opacity: 0.6;
    background-position: 93% 0;    
    width: 100%;
    height: 137px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;   
}
#contributors:hover{
    opacity: 1;
}
.text{
    margin-top: 5%;
    margin-left: 5%;
}

#resizable {
  height: 400px;
  width: 500px;
  padding: 5px;
  border: 2px dashed #AAA;
}